
<div class="hero-wrap">
    <div class="header arch ec-headerTitle">
        <div class="ec-headerTitle__title">
            <p>-南アフリカワイン専門 Online shop-</p>
            <h1>
                <a href="{{ url('homepage') }}">
                    <!--{{ BaseInfo.shop_name }}-->
                    <img src="{{ asset('/html/user_data/upload/img/logo.svg') }}" alt="南アフリカワイン専門 Online shop">
                </a>
            </h1>
            <p class="for_front">360年以上の歴史を持つオーガニック&エクセレントワイン</p>
        </div>
    </div>
</div>